/* */
body{
    font-family: Ariel, Helvetica, sans-serif;
}
main{
    color: rgb(107, 77, 42);
    background-color: white;
}
header{
    color: white;
    background-color: rgb(184, 158, 133);"
}
footer{
    color: white;
    background-color: rgb(184, 158, 133);"
}
/* Selecting multiple elements to apply same styles */
h1,
h2,
h3,
h4 {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(184, 158, 133);
    text-align: center;
}

nav ul {
    list-style: none;
}

/* descendant selector - multiple levels */
nav ul a {
    color: rgb(107, 77, 42);
    text-decoration: none;
}

main a {
    color: seagreen;
    text-decoration-line: overline underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(107, 77, 42);
}

/* class name selector */

.large-text {
    font-size: 22px;
}

main p{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .left {
  text-align: left;
  }

  table, th, td, tr {
    border: 1px solid black;
    width: 70%;
  }

  blockquote {
      text-align: center;
  }

  /* id selector. Avoid id for styling, default to classes. */

  #treatofweek {
      background-color: rgb(233, 216, 171);
  }

  /* child selector or direct child selector */
  article > p{
      font-size: 22px;
  }

  /* adjacent sibling selector */
h3+ul {
    border: 3px dashed salmon;
    text-align: center;
    font-size: 18px;
}