body{
    font-family: Ariel, Helvetica, sans-serif;
    font-size: 18px;
}
main{
    color: rgb(76, 44, 151);
    background-color: white;
}
header, footer{
    color: rgb(122, 94, 185);
    background-color: rgb(200, 186, 233);"
}

/* Selecting multiple elements to apply same styles */
h1,
h2,
h3,
h4 {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(255, 209, 233);
    text-align: center;
}

nav ul a {
    color: rgb(201, 133, 167);
    text-decoration: none;
    border: 2px dotted rgb(200, 186, 233);
    list-style: none;
    list-style-type: none;
    background-color:rgb(255, 230, 242) ;
}
nav :hover {
    background-color: rgb(80, 255, 240);
}

.site_title {
    color: rgb(122, 94, 185);
}

main p{
    text-align: center;
}

  blockquote {
      text-align: center;
  }

  #my_image {
      box-shadow:  0px 0px 2px 1px #000000;
  }

  h3+ul {
    border: 3px dashed rgb(201, 133, 167);
    font-size: 18px;
    list-style-type: square;
} 

h3+ul:nth-child(odd) {
    background-color: rgb(200, 186, 233);
}