/*  Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


/*   basic structure  */
body {
    font-family: Martel;
    background: rgb(200, 187, 173);
}

header, footer {
    background: rgb(165, 229, 202);
    padding-bottom: 3%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(165, 229, 202);
    text-decoration: none;
}

h1 {
    font-family: Merienda;
    color: white;
    align-items: center;
}

h2 {
    font-family: Merienda;
    color: rgb(125, 94, 64);
}

h3 {
    font-family: Martel;
}

p {
    color: rgb(125, 94, 64);
    font-size: 20px;
}

a.naviga {
    color: rgb(125, 94, 64);
    font-size: 50px;
    padding: 30px;
}

a:hover.naviga {
    color: white;
}

#title, #galleries {
    background: rgb(125, 94, 64);
    color: white;

}

#contactkai, #aboutkai {
    background: white;
    color: rgb(125, 94, 64);
}

/*  image sizing  */
.featureiamge{
    width: 75%;
}

.smimage {
    width: 65%;
}

.logo {
    width: 5%;
}

.myimage {
    width: 30%;
    float: left;
    margin: 10px;
}

/*  contact form styling  */

.sendbutton {
    color: rgb(125, 94, 64);
    background-color: rgb(165, 229, 202);
    margin-left: 10px;
    font-family: Martel;
}