body {
    font-family: Ariel, Helvetica, sans-serif;
    font-size: 18px;
}
main {
    color: rgb(150, 207, 204);
    background-color: white;
}
header, footer {
    color: rgb(122, 94, 185);
    background-color: rgb(200, 186, 233);
}

/* Selecting multiple elements to apply same styles */

nav li a {
    color: rgb(150, 207, 204);
    text-decoration: none;
    border: 2px dotted rgb(200, 186, 233);
    list-style: none;
    list-style-type: none;
    background-color:rgb(35, 110, 107) ;
}

nav li a:hover {
    background-color: rgb(0, 255, 247);
}

.site_title {
    color: rgb(122, 94, 185);
}


  .this :nth-child(odd) {
      background-color: rgb(35, 110, 107);
  }


  h3+ul {
    border: 3px dashed rgb(150, 207, 204);
    font-size: 18px;
    list-style-type: square;
} 