/* */
body{
    font-family: Ariel, Helvetica, sans-serif;
}
main{
    color: rgb(107, 77, 42);
    background-color: white;
}
header{
    color: white;
    background-color: rgb(184, 158, 133);
}
footer{
    color: white;
    background-color: rgb(184, 158, 133);
}
