/* */
body{
    font-family: Ariel, Helvetica, sans-serif;
}
main{
    color: rgb(34, 34, 34);
    background-color: white;
}
header{
    color:  rgb(199, 139, 7);
    background-color: rgb(34, 34, 34);
}

footer{
    color:  rgb(199, 139, 7);
    background-color: rgb(34, 34, 34);
}

nav li a {
    color: rgb(199, 139, 7);
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    align-items: center;
    width: 100%;
}

nav li a:hover {
    background-color: rgb(199, 139, 7);
    color: rgb(34, 34, 34);
    width: 100%;
}

button {
    background-color: rgb(34, 34, 34);
    color: rgb(199, 139, 7);
}

.picture_button {
    width: 35%;
    align-content: left;
    padding: -8px -8px -8px -8px;
    border-style: none;
}

.yellow {
    background-color: rgb(255, 230, 172);

}


